<div class="block-header">
  <h2>
    Students List <small>{{ student.name ? "Edit" : "Add" }} Student</small>
  </h2>
</div>
<!-- Basic Validation -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>Student Details</h2>
      </div>
      <div class="body">
        <form id="form_validation" method="POST" (ngSubmit)="saveStudent($event)">

          <div class="form-group form-float">
            <mat-input-container>
              <input matInput="" placeholder="Student First Name" name="firstName" [(ngModel)]="student.firstName"  required >
            </mat-input-container>
          </div>
          <div class="form-group form-float">
            <mat-input-container>
              <input matInput="" placeholder="Student Last Name" name="lastName" [(ngModel)]="student.lastName"  required >
            </mat-input-container>
          </div>
          <div class="form-group form-float">
            <mat-input-container>
              <input matInput="" placeholder="Student middle Name" name="middleName" [(ngModel)]="student.middleName"  required >
            </mat-input-container>
          </div>
            <div class="form-group form-float">
                <mat-form-field>
                    <mat-select placeholder="Select gender"  name="gender" [(ngModel)]="student.gender">
                        <mat-option *ngFor="let sex of genders" [value]="sex.key">
                            {{ sex.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          <div class="form-group form-float">
            <mat-form-field>
              <mat-select placeholder="Select school"  name="school" [(ngModel)]="student.school">
                <mat-option *ngFor="let option of options" [value]="option._id">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group form-float">
            <mat-form-field>
              <mat-select placeholder="Select Classroom"  name="classroom" [(ngModel)]="student.classroom">
                <mat-option  *ngFor="let classroom1 of classrooms" [value]="classroom1._id" >
                  {{ classroom1.name.toUpperCase() }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" placeholder="Student Aadhar" name="aadhar" [(ngModel)]="student.aadhar"  required >
                </mat-input-container>
            </div>
            <div class="form-group form-float">
                <mat-form-field>
                    <mat-select placeholder="Select Parent"  name="parent" [(ngModel)]="student.parent">
                        <mat-option  *ngFor="let parent1 of parents" [value]="parent1._id" >
                            {{ parent1.name.toUpperCase() }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group form-float">
                <mat-form-field>
                    <mat-select placeholder="Select Pickup Addresses"  name="pickup" [(ngModel)]="student.pickup">
                        <mat-option  *ngFor="let pickup1 of pickups" [value]="pickup1._id" >
                            {{ pickup1.address }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group form-float">
                <mat-input-container>
                    <input matInput="" placeholder="Student Roll No." name="rollNo" [(ngModel)]="student.rollNo"  required >
                </mat-input-container>
            </div>
            <div class="form-group form-float">
                <mat-form-field>
                    <mat-select placeholder="Select Idcards"  name="idcard" [(ngModel)]="student.idcard">
                        <mat-option  *ngFor="let idcard1 of idcards" [value]="idcard1._id" >
                            {{ idcard1.uuid }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
          <div class="form-group form-float">
            <mat-slide-toggle
                    name="isActive" [(ngModel)]="student.isActive" [checked]="student.isActive" [color]="color"
            >
              Status
            </mat-slide-toggle>
          </div>
            <div class="form-group form-float">
                <h2 class="text-center">Student Access Area</h2>
            </div>
            <div class="form-group form-float">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngFor="let ztype of zoneTypes; let i=index">
                    <input type="checkbox" [id]="'zoneType' + ztype.zoneType._id" [checked]="access.indexOf(ztype.zoneType._id) >= 0" [value]="ztype.zoneType._id" [class]="'filled-in chk-col-blue zoneType' + ztype.zoneType._id"  (change)="setAttr($event, ztype.zoneType._id, ztype.zone);"/> <!--"-->
                    <label [for]="'zoneType' + ztype.zoneType._id"> {{ztype.zoneType.name}}</label>
                    <div class="list-group">
                        <div class="list-group-item" *ngFor="let zone of ztype.zone; let j=index">
                            <input type="checkbox" [value]="zone._id" [checked]="access.indexOf(zone._id) >= 0"  [class]="'filled-in chk-col-blue zone' + ztype.zoneType._id"  [id]="'zone' + zone._id"  (change)="setAttr($event, zone._id, '');"/> <!---->
                            <label [for]="'zone' + zone._id">{{zone.name}}</label></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
          <button class="btn btn-primary waves-effect" type="submit">SAVE STUDENT</button>
        </form>
      </div>
    </div>
  </div>
</div>